[Unit]
Description=NGCP RtpEngine - RTP Media Proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=CONFIG_FILE=/etc/rtpengine/rtpengine.conf
EnvironmentFile=/etc/sysconfig/rtpengine
PIDFile=/run/rtpengine.pid
ExecStartPre=/usr/sbin/rtpengine-init start
ExecStart=/usr/sbin/rtpengine -f -E --no-log-timestamps --pidfile /run/rtpengine.pid --config-file ${CONFIG_FILE} --table $TABLE
ExecStopPost=/usr/sbin/rtpengine-init stop

[Install]
WantedBy=multi-user.target
Alias=rtpengine.service
